<!-- Client Brand -->
            <section id="aa-client-brand">
                <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <div class="aa-client-brand-area">
                        <ul class="aa-client-brand-slider">
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Britannia.jpg') }}"   alt="Britannia img"></a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Balaji.jpg') }}"      alt="Balaji img">   </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Cadbury.jpg') }}"     alt="Cadbury img">  </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/DelMonte.jpg') }}"    alt="DelMonte img"> </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Fortune.jpg') }}"     alt="Fortune img">  </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/kissan.jpg') }}"      alt="kissan img">   </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Kohinoor.jpg') }}"    alt="Kohinoor img"> </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Madhur.jpg') }}"      alt="Madhur img">   </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/nescafe.jpg') }}"     alt="nescafe img">  </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Saffola.jpg') }}"     alt="Saffola img">  </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Tata.jpg') }}"        alt="Tata img">     </a></li>
                        <li><a href="#"><img src="{{ asset('images/brandsCoro/Patanjali.jpg') }}"   alt="Patanjali img"></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- / Client Brand -->