{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
    {% block head_stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('admin/flexmonster/css/styles.css') }}"> 
        <link href="{{ asset('admin/flexmonster/flexmonster.min.css') }}" rel="stylesheet" type="text/css" />   
        <link href="{{ asset('admin/flexmonster/theme/lightblue/flexmonster.min.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('admin/flexmonster/css/customCss.css') }}"> 
    {% endblock %}
     <section id="app" class="main">
        {# <button onclick="add()">Add condition</button>
        <button onclick="remove()">Remove all conditions</button> #}
        <div class="wrap" >
            <div id="pivot-container" class="pb-30" >
            </div>
        </div>
        {# <div class="output" id="output"></div> #}
    </section>
    {# {% block body_javascript %} #}
        <script src="{{ asset('admin/flexmonster/flexmonster.js') }}" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="{{ asset('admin/flexmonster/js/customJs.js') }}" type="text/javascript"></script>
        <script>
            
            function customizeToolbar(toolbar) { 
                // get all tabs 
                var tabs = toolbar.getTabs(); 
                toolbar.getTabs = function () { 
                    // delete the first tab 
                    tabs.unshift({
                        id: "tabAjax",
                        title: "Ajax",
                        handler: tabAjaxHandler,
                        icon: this.icons.open,
                    });
                    delete tabs[1];
                    //delete tabs[12];
                    delete tabs[14];
                    return tabs; 
                }
                var tabAjaxHandler = function(){
                    $.ajax({ 
                        url: "/admin/dashboard/getContext",
                        type: "POST",
                        dataType: "text",
                        success: function(html)
                        {
                            $("#tabAjax .fm-tab-label").html(html);
                        }
                    });
                } 
            }

            var pivot = new Flexmonster({
                container: "pivot-container",
                toolbar: true,
                beforetoolbarcreated: customizeToolbar,
                //customizeAPIRequest: customizeAPIRequestFunction,

                report: {
                    options: {
                        defaultDateType: "date string",
                        datePattern: "MMMM d, yyyy",
                        grid: {
                            showFilter: false,
                            showReportFiltersArea: false,
                        },
                        chart: {
                            showFilter: false,
                        }
                    },
                    dataSource: {
                        type: "api",
                        url: "http://localhost:9500",
                        index: "order-details",
                    },
                    slice: {
                        rows: [
                            { 
                                uniqueName: "created_at",
                                sort: "desc"
                            }
                        ],
                        measures: [
                            {
                                uniqueName: "total_price", 
                                aggregation: "sum" 
                            }
                        ],
                        reportFilters:[
                            {
                                uniqueName: "user_id_id",
                                filter: {
                                    members: ["user_id_id.[{{user_id}}]"]
                                }
                            }
                        ]
                    }
                
                },
                licenseKey: "Z7ZP-XE2I72-682923-136R6E"
            });
        </script>
    {# {% endblock body_javascript %}         #}
       
{% endblock %}
